<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<title>Stock Market - Profile</title>

		<% include snippets/CSS %>
		<% include snippets/analytics %>
	</head>
	<body ng-app="myapp">
		<% include snippets/navbar %>

		<div class="ui container" id="top" ng-controller="stocks">
			<div class="ui segment">
				<highchart id="chartContainer" config="chartConfig" class="disabled"></highchart>

				<form class="">
					<div class="ui right labeled left icon input">
						<i class="line chart icon"></i>
						<input type="text" placeholder="Stock name..." name="newStock" ng-model="newStock">
						<button type="submit" name="button" class="ui button secondary label" ng-click="addStock()">Add Stock</button>
					</div>
				</form>
			</div>

			<div class="ui segment" ng-show="message">
				<div class="header">
					Oops!
				</div>
				<div class="content">
					{{message}}
				</div>
			</div>

			<div class="ui segment">
				<div class="ui six doubling cards">
					<div class="ui raised card" ng-repeat="stock in stocks">
						<div class="content">
							<div class="header">
								{{stock.symbol}}
							</div>
							<div class="description">
								{{stock.name}}
							</div>
						</div>
						<div class="ui bottom attached red button" ng-click="removeStock(stock)">
							<i class="close icon"></i>
							Delete
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include snippets/footer %>

		<% include snippets/JS %>
		<!--<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js'></script>-->
		<script src="/js/angular.js"></script>
		<script src="/js/highstock.js"></script>
		<script src="/js/highcharts-ng.js"></script>
		<script>
			<% include snippets/stock.controller.js %>
		</script>

	</body>
</html>
