<div class="ui small modal" id="authModal">
	<div class="header">Header</div>
	<div class="content">
		<form class="ui large form error" method="post" id="authForm">
			<div class="ui stacked segment">
				<div class="required field">
					<label>Email</label>
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input required type="email" placeholder="E-mail address" name="email">
					</div>
				</div>
				<div class="required field">
					<label>Password</label>
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input required type="password" placeholder="Password" name="password">
					</div>
				</div>
				<button type="submit" class="ui teal submit button">Submit</button>
			</div>
		</form>
	</div>
</div>
