<footer class="ui center aligned text container">
	<div class="row">
		<p class="black">© 2016 Francisco Knebel.
			<br>
			Built with
			<b>
				<a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>
			</b>
			&amp;
			<b>
				<a href="https://github.com/angular/angular.js" target="_blank">Angular</a>
			</b>
			&amp; Fonts by
			<b>
				<a href="http://fontawesome.io/" target="_blank">Font Awesome</a>
			</b>
		</p>
	</div>
	<div class="row">
		<div class="ui huge horizontal list">

			<a class="item" href="https://www.twitter.com/franciscoknebel" target="_blank">
				<i class="bordered twitter icon"></i>
			</a>
			<a class="item" href="https://www.github.com/franciscoknebel/fcc-stockmarket" target="_blank">
				<i class="bordered github icon"></i>
			</a>
			<a class="item" href="https://www.linkedin.com/in/francisco-knebel-295493111" target="_blank">
				<i class="bordered linkedin icon"></i>
			</a>
		</div>
	</div>
</footer>
